<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>QR Code Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #4f73ac;
            color: #ffffff;
            margin-top: 100px;
        }

        h1 {
            color: #ffffff;
            font-weight: bold;
        }
        form{
            display:inline-block;
            box-shadow: #6d0101;
            border-width:thick;
        }
        .btn{
            color: black;
            font-weight: bold;
            background-color: rgb(210, 48, 30);
        }
      
    </style>
</head>
<body>
    <div class="container">
        <h1>QR Code Generator</h1>
        <hr>
        <form action="/scan" method="POST" class="form">
            <textarea name="text" id="text" cols="150" rows="10" placeholder="enter URL or Text" required></textarea>
            <button type="submit" class="btn btn-primary">Generate QR Code</button>
        </form>
    </div>
</body>
</html>
